<section class="main-block-landing">


    <div class="txt-container-landing" id="container-landing">
        <h1 class="landing-headline">What will you <span class="color-h1-landing"
                style="color:#D1D1E9;">learn</span></span> today?</h1>
        <p class="landing-catchphrase">Discover premium courses made by passionate teachers, who share they knowledges.
        </p>
        {{!-- <div>
            <a href="./auth/signup" class="landing-cta">Create an account</a>
        </div> --}}
                    <a href="./auth/signup" class="right-button limitWidth">Create an account</a>
        <img src="/images/pyramid.jpg" class="img-landing toShow" id="img-landing" alt="illu-landing">



    </div>
    <div class=" toHide img-container-landing">
        <img src="/images/pyramid.jpg" class="img-landing" id="img-landing" alt="illu-landing">
    </div>

</section>